<div class="order-page-container">
<mat-card class="center-card" xmlns="http://www.w3.org/1999/html">
  <mat-card-content class="card-content">

    <div class="mat-h1">Pizza Ordering Application</div>
    <br>

    <form [formGroup]="loginFormGroup">
      <div class="input-container">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username" maxlength="10">
          <mat-error>Invalid Username</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password" maxlength="10">
          <mat-error>Invalid Password</mat-error>
        </mat-form-field>

        <button (click)="submitLoginForm(loginFormGroup)" [disabled]="loginFormGroup.invalid"
                class="btn btn__large btn--primary-blue mat-raised-button">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
